.navbar {
    background-color: #4c90af;
    padding: 1rem;
    padding-inline: 2rem;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar h1 {
    color: white;
    font-size: 2rem;

  }
  
  .navbar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
  }
  
  .navbar li {
    margin-right: 20px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .navbar a:hover {
    color: #ddd;
  }
  